body {
    background: url(images/background_logo.png) no-repeat top;
    background-position-y: 10px;
}

.form {
    margin: 170px auto 0;
    font-size: 25px;
    font-weight: bold;
    width: 400px;
}
.form_newUser {
    margin: 50px auto 0;
    font-size: 25px;
    font-weight: bold;
    width: 600px;
}

.form_rent {
    margin: 20px auto 0;
    font-size: 20px;
    font-weight: bold;
    width: 600px;
}

.form_find {
    margin: 100px auto 0;
    font-size: 25px;
    font-weight: bold;
    width: 650px;
}

.display {
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.table_all_equipment {
    margin-top: 100px;
    margin-left: 130px;
    width: 600px;
    float: left;
}

.table_new_equipment {
    margin-top: 100px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
    width: 500px;
    float: left;
}

.input_form {
    display: block;
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #302f2f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #737373;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.error {
    color: red;
}

.msg {
    color:green;
}

.lb-sm {
    font-size: 12px;
}

.control-label {
    line-height: 1.2;
}

.btn-primary {
    color: #ffffff;
    background-color: #325d88;
    border-color: transparent;
}

.navi_button {
    padding-right: 10px;
}

.home_button::after {
    content: url("images/startButton.png")
}

.edit_button::after {
    content: url("images/editButton.png");
}

.logout_button::after {
    content: url("images/logoutButton.png");
}

.account_button::after {
    content: url("images/newuserButton.png");
}

.rent_button::after {
    content: url("images/nsjpButton.png");
}

.payment_button::after {
    content: url("images/moneyButton.png");
}

.main {
    text-align: center;
    margin-top: 100px;
}

.main_button {
    display: inline-block;
    padding: 50px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


